<div class="well well-sm">
  <h3>Your Observation Reads</h3>

  <% if @observation_reads.empty? %>
  <h4>None assigned yet.</h4>
  <% else %>
  <div class="read-links">
    <% @observation_reads.sort_by(&:employee_id_observer).each do |observation| %>
    <span class='observation-reads-links'><%= link_to "#{observation.employee_id_observer}", observation_read_path(observation) %></span>
    <% end %>
  </div>
  <% end %>
</div>
