<dl>
  <% if @observation_read %>
  <dt class="summary">
    <h5><%= link_to "&Gt; Summary".html_safe, @observation_read, class: 'summary-link' %></h5>
  </dt>
  <% end %>
  <% unless @domains.blank? %>
  
    <% @domains.each do |domain_score| %>
    <dt>
      <h5>
        <%= domain_score.domain.description %>
        <span class="caret"></span>
      </h5>
    </dt>
    <% domain_score.indicator_scores.sort_by(&:indicator_code).each do |indicator_score| %>
      <dd class="indicators">
        <%= link_to "#{indicator_score} (#{indicator_score.evidence_scores.count})", indicator_score_evidence_scores_path(indicator_score), class: "indicator-link #{'highlight' if indicator_score.updated?}", :remote => true %>
      </dd>
      <% end %>
    <% end %>
  <% end %>
</dl>
