<dl>
  <% unless @domains.blank? %>
    <% @domains.each do |domain_score| %>
    <dt>
      <h5>
        <%= domain_score.domain.description %>
        <span class="caret"></span>
      </h5>
    </dt>
    <% domain_score.indicator_scores.sort_by(&:indicator_code).each do |indicator_score| %>
      <dd class="indicators">
        <%= content_tag :div, class: "#{'highlight' if indicator_score.updated?}" do %>
          <%= link_to "#{indicator_score} (#{indicator_score.evidence_scores.count})", indicator_score_evidence_scores_path(indicator_score), class: "#{indicator_score.id} indicator-link", :remote => true %>
        <% end %>
      </dd>
      <% end %>
    <% end %>
  <% end %>
</dl>
