<dl>
  <% @domain.each do |domain_obj| %>
     <dt>
        <h5>
          <%= domain_obj.description %>
          <span class="caret"></span>
        </h5>
      </dt>
          <% domain_obj.indicators.each do |indicator| %>
            <dd class="indicators">
              <%= link_to "#{indicator.code}: #{indicator.description}", domain_indicator_evidences_path(indicator.domain, indicator) %>
            </dd>
          <% end %>
    <% end %>
</dl>
