<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <div class="sidebar fixed">
        <%= render partial: "sidebar" %>
      </div>
    </div>
  </div>

    <div class="content">
      <div class="content right">
        <%= render partial: "observation_reads" %>
        <p>Test</p>

      <div class="evidence-form">
          <p>evidence form div</p>
      </div>


      </div>
    </div>
</div>











