<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <div class="sidebar fixed">
        <%= render partial: "sidebar" %>
      </div>
    </div>
  </div>

    <div class="content">
      <div class="content right">
      Observation Numbers:
      <% @observation_reads.each do |observation| %>
        |<%= link_to "#{observation.observation_group_id}", observation_path(observation) %>
      <% end %>
      </div>
    </div>
  </div>

</div>











