<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <div class="sidebar fixed">
        <%= render partial: "sidebar" %>
      </div>
    </div>
  </div>

    <div class="content">
      <div class="content right">

        <div class="table-responsive">
          <div class="dashboard-holder">
            <%= render partial: "domain_percentages" %>
          </div>
        </div>
        <div class="observation-reads">
          <%= render partial: "observation_reads" %>
        </div>
        <div id="evidence-form-holder">
        </div>
      </div>

</div>











