<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <div class="sidebar fixed">
        <%= render partial: "sidebar" %>
      </div>
    </div>
  </div>

    <div class="content">
        <div class="content right">



            <div class="main-dashboard">
                <div class="table-responsive">
                  <div class="dashboard-holder">
                    <%= render partial: "domain_percentages" %>
                  </div>
                  <div class="document-live-form-holder">
                    <%= render partial: "document-live-form" %>
                  </div>
                </div>
            </div>

            <div class="main-forms">
                <div class="observation-reads">
                  <%= render partial: "observation_reads" %>
                </div>
                <div id="evidence-form-holder">
                </div>
            </div>
        </div>
    </div>
</div>










