<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Aspire Reader</a>
      <ul class="nav navbar-right">
        <li><p class="navbar-text navbar-left">Welcome, <%= @reader.first_name %><p></li>
        <li><%= button_to "logout", logout_path, method: 'delete', class: "btn btn-default navbar-btn navbar-right" %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="btn-group-vertical">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Domain 1
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">1.1A</a></li>
      <li><a href="#">1.1B</a></li>
      <li><a href="#">1.1C</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Domain 2
      <span class="caret"></span>
    </button>
      <ul class="dropdown-menu">
        <li><a href="#">2.1A</a></li>
        <li><a href="#">2.1B</a></li>
        <li><a href="#">2.1C</a></li>
      </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Domain 3
      <span class="caret"></span>
    </button>
      <ul class="dropdown-menu">
        <li><a href="#">3.1A</a></li>
        <li><a href="#">3.1B</a></li>
        <li><a href="#">3.1C</a></li>
      </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Domain 4
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">4.1A</a></li>
      <li><a href="#">4.1B</a></li>
      <li><a href="#">4.1C</a></li>
    </ul>
  </div>
</div>

