<div class="container container-fluid">
  <ul>
    <li><%= link_to("Assign Observation Reads", admin_observation_reads_path, class: 'dashboard-links') %></li>
    <li><%= link_to("Look at Readers", admin_readers_path, class: 'dashboard-links') %></li>
  </ul>
</div>
