<div class="container container-fluid" id="dashboard">
  <ul>
    <li><%= link_to "Assign Observation Reads", admin_observation_reads_path %></li>
    <li><%= link_to "Look at Readers", admin_readers_path %></li>
  </ul>
</div>
