<% flash.each do |klass, message| %>
  <div class="alert <%= bootstrap_class_for(klass) %> fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= message %>
  </div>
<% end %>
