<br>
<br>
<br>
<%= link_to "New Reader", new_admin_reader_path(@reader) %>
<div id="create-button">
  New Reader
</div>
<%= render partial: "flash_messages", flash: flash %>
<table class="table table-hover table-bordered">

<tr>
  <th> Reader Name </th>
  <th> Reader Email</th>
<tr>
  <%= render partial: "reader", collection: @readers %>

</table>

