<div class="container-fluid container">
  <div id="create-button">
    <%= link_to "New Reader", new_admin_reader_path(@reader) %>
  </div>

  <%= render partial: "flash_messages", flash: flash %>
  <table class="table table-hover table-bordered">

  <tr>
    <th> Reader Name </th>
    <th> Reader 1</th>
    <th> Reader 2</th>
    <th> Reader 3</th>
  <tr>
    <%= render partial: "reader", collection: @readers %>

  </table>
</div>
