<div class="container container-fluid">
  <%= display_flash_messages %>

  <div class="panel panel-default panel-info">
    <div class="panel-heading">New Reader</div>

    <div class="panel-body">
      <%= simple_form_for [:admin, @reader], class: "form-horizontal center" do |f| %>
        <%= render partial: "reader_form", locals: { f: f } %>
        <%= f.submit "Create Reader", class: "btn btn-default btn-primary" %>
      <% end %>
    </div>

  </div>
</div>
