<h1>Create Readers new page</h1><br>

<div class="container container-fluid">
  <%= render partial: "flash_messages", flash: flash %>
    <div class="panel panel-default panel-info">
      <div class="panel-heading">Create your readers</div>
      <div class="panel-body">
        <%= form_for ([:admin, @reader]), class: "form-horizontal center" do |f| %>
        <%= render partial: "reader_form", :locals => { :f => f } %>
       </div>
    </div>
        <%= f.submit "Create Reader", class: "btn btn-default btn-primary" %>
   <% end %>
</div>
