// Alliance: green, orange, and blue 

$brand-color: #007A47;
$brand-color-light: #ED853F;
$brand-color-dark: #0055D6; 
$brand-color-dark-highlight: #3875D7;
$nav-highlight: #ED853F;
$nav-background: black; 
