@import 'brand';

#dashboard{
  font-size: 2em;
}
#dashboard ul {
}

#dashboard li {
  padding: 0.25em;
  list-style-type: circle;
}

/*
.admin-form, a:link {
  color: purple;
}

#dashboard a:visited {
  color: blue;
}

#dashboard a:hover {
  color: red;
}*/
.admin-form {
  clear: both;
  input[type=submit] { float: right; margin-right: 8em;}
}

.reader-assignment {
  a:link{
    color: #333;
    text-decoration: none;
  }

  a:visited{
    color: blue;
    text-decoration: none;
  }

  a:hover {
    color: #2980b9;
    text-decoration: underline;
  }

  th { font-size: 1.35em; font-weight: bold; text-align: center;}

}

ul.admin-employee, li {
  list-style-type: none;
}

.my-legend {

  .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .legend-scale ul {
    margin: 1em 0;
    padding: 0 1em;
    float: left;
    list-style: none;

    li {
      font-size: 1em;
      list-style: none;
      margin-left: 0;
      line-height: 18px;
      margin-bottom: 2px;
    }

  }
}

ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}


#create-button {
  font-size: 15px;
  margin: 10px 2px;
  display: inline-block;
  padding: 6px 14px;
  background-color: $brand-color;
  border: 1px solid transparent;
  border-radius: 15px;
  a {
    color: white;
  }
}

.form-control.reader-admin-label {
  height: 40px;
  width: 300px;
}

table#readers td.centered {
  .checkmark {
    font-size: 2rem;
  }
  text-align: center;
}

form#new_reader, form.edit_reader {
  input[type=submit] {
    margin-top: 1em;
    float: right;
  }
}


$label-yellow: #EDCF5A;
$label-green:  #83DB7D;
$label-gray:   #CCCCCC;

.reader-assignment {
  td.one {   background-color: $label-yellow !important; }
  td.two {   background-color: $label-green !important; }
  td.three { background-color: $label-gray !important; }
}

.legend-labels {
  .green { background: $label-green; }
  .gray { background: $label-gray; }
  .yellow { background: $label-yellow; }
}

.well { overflow: auto; zoom: 1;}
