/*
.admin-form, a:link {
  color: purple;
}

.dashboard-links, a:visited {
  color: blue;
}

.dashboard-links, a:hover {
  color: red;
}*/

ul.admin-employee, li {
  list-style-type: none;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 2rem;
}

.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend .legend-scale ul li {
    font-size: 1em;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
  }

#create-button {
    font-size: 15px;
    margin: 10px 2px;
    display: inline-block;
    padding: 6px 14px;
    background-color: #611f73;
    border: 1px solid transparent;
    border-radius: 15px;
}
