@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

.landing {
  background-image:url('low_contrast_linen.png');
}

.container-fluid {
  padding-top: 80px
}

/* navbar styling */

div.right-nav{
  float: right;
}

#fixed-nav{
  position: fixed;
  background-color: black;
  height: 65px;
}

#cssmenu {
  background: #f96e5b;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  float: left;
  display: block;
  padding: 0;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: orange;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  /*content: '';*/
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: orange;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    height: 1px;
    background: #ffffff;
    width: 100%;
    opacity: .2;
  }
  #cssmenu ul li.last > a:before,
  #cssmenu ul li:last-child > a:before {
    display: none;
  }
}

#reader{
  width: 100%;
  background-color: red;
  overflow: hidden;
}

.sidebar.fixed {
  position: fixed;
  background-color: #611f73;
  top: 66px;
  width: 24%;
  float: left;
  bottom: 0;
  border-right: 1px solid #eee;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1010;
}

.content.right {
  margin-right: 0%;
  padding: 0rem;
  width: 74%;
  float: right;
  position: relative;
  top: 20px
}

dd a {
  display: block;
  padding: 1px 5px;
}

dt:hover {
  background-color: #8e44ad;
}

dl {
  text-indent: 1em;
  background-color: #611f73;
}

dt {
  text-indent: 1em;
  padding: .5rem;
  cursor: pointer;
  background-color: #611f73;
  color:#ecf0f1;
}

dl dd {
    display: none;
    text-indent: 1em;
    cursor: pointer;
}

dl dd a:link a:visited a:hover a:active {
  text-decoration: none;
  color: white;
}

dd:hover {
  background-color: #8e44ad;
}

dd a:visited {
  color: blue;
}

.indicators a:link{
  text-decoration: none;
  color: white;
}

textarea#comments {
  width: 50rem;
  height: 15rem;
}

#submit-evidence {
  margin-top: 3rem;
}

#blast {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  padding: 35px 30px 10px;
  z-index: 1010;
  font-size: 30px;
  text-align: center;
}

/* dashboard */

select.optional{
  height: 2.5rem;
  width: 8rem;
  font-size: 1rem;
}


.document-live-form-holder .well {
  border: 1px solid black;
}

.document-live-form-holder h4 {
  padding: 0.5rem;  
}

#observation_read_comments {
  margin-bottom: 1em;
}

.observation_read_flags .controls{
  margin-left: 1em;
  margin-top: -0.75em;
}
.document h4 {
  background-color: #3498db;
  text-align: center;
}

.live h4 {
  background-color: #f1c40f;
  text-align: center;
}

p.r1score {
  font-size: 10px;
}

div.observation-read-button {
  margin-top: 4px;
  text-align: center;
}

p#submit-message{
  font-size: 20px;
  text-align: center;
  z-index: 1000;
  position: absolute;
}

p.alert-success{
  display: none;
  z-index: 1010;
  position: absolute;
  left: -32%;
  top: 27%;
}

.observation-reads h3 {
  text-align: center;
}

/* observation-reads buttons */
.observation-reads-links{
  color: white;
  cursor: pointer;
}

.observation-reads-links.selected{
  background-color: #5CA092;
}


.observation-reads-links:hover {
  background-color:rgba(0,0,0,.5);
}

.observation-reads-links a:hover{
  text-decoration: none;
}

.observation-reads-link:visited{
/*  background-color: #E74C3C;*/
  background-color: red;
}

span a{
  color: white;
  list-style-type: none;
  text-decoration: none;
}

span.observation-reads-links{
  font-size: 15px;
  margin: 10px 2px;
  display: inline-block;
  padding: 6px 14px;
  background-color: #18bc9c;
  border: 1px solid transparent;
  border-radius: 15px;
}

.read-links{
  text-align: center;
}

/*evidence form */

#evidence-form h3{
  text-align: center;
}

h3#indicator-heading{
  color: #e74c3c;
}

#evidence-form .panel-primary{
  border-color: #ecf0f1;
}

div.highlight{
  background-color: #27ae60;
}

.highlight-current {
    background-color: #f39c12;
    font-weight: bold;
}

h5.read-title{
  text-align: center;
  background-color: #1abc9c;
}

.flagged-t {
  background-color: #e74c3c;
}

#controller-observation-reads.action-show .row h2 {
  text-align: center;
  margin-bottom: 1em;
}
