.landing {
  background-image:url('low_contrast_linen.png');
}

#main.container {
  padding-top: 60px
}

.navbar-text {
  margin-bottom: 0;
  line-height: 30px;
  color: #777777;
}

.navbar .btn {
  margin-top: 12px
}

#reader{
  width: 100%;
  background-color: red;
  overflow: hidden;
}

.sidebar.fixed {
  position: fixed;
  background-color: #9b59b6;
  top: 70px;
  width: 24%;
  float: left;
  bottom: 0;
  border-right: 1px solid #eee;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
}

.content.right {
  margin-right: 0%;
  padding: 0rem;
  width: 74%;
  float: right;
  position: relative;
  top: 80px
}

dt:hover {
  background-color: #8e44ad;
}


dl {
  text-indent: 1em;
  background-color: #9b59b6;
}

dt {
  text-indent: 1em;
  padding: .5rem;
  cursor: pointer;
  background-color: #9b59b6;
  color:#ecf0f1;
}

dl dd{
    display: none;
    text-indent: 1em;
    cursor: pointer;
    color: grey;
}

dd:hover {
  background-color: #8e44ad;
  color: white;
}

textarea#comments {
  width: 50rem;
  height: 15rem;
}

#submit-evidence {
  margin-top: 3rem;
}

#blast {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  padding: 35px 30px 10px;
  z-index: 1000;
  font-size: 30px;
  text-align: center;
}

/* dashboard */

select {
  width: 108px;
/*  border: 0px white;
  background-color: #ffffff;*/
}


.document-live-form{
  border: 5px solid black;
}

.document h4 {
  background-color: #3498db;
  text-align: center;
}

.live h4 {
  background-color: #f1c40f;
  text-align: center;
}

form .document{
  display: inline-block;
  padding: 8px;
}

form .live {
  display: inline-block;
  padding: 8px;
}

div.observation-read-button {
  margin-top: 4px;
  text-align: center;
}

p#submit-message{
  font-size: 20px;
  text-align: center;
  z-index: 1000;
  position: absolute;
}

p.alert-success{
  display: none;
  z-index: 1000;
  position: absolute;
  left: -32%;
  top: 27%;
}

.observation-reads h3 {
  text-align: center;
}

/* observation-reads buttons */

.observation-reads-links:hover{
  background-color:rgba(0,0,0,.5)
}

.observation-reads-link:visited{
  background-color: #E74C3C;
}

span a{
  color: white;
  list-style-type: none;
  text-decoration: none;
}

span.observation-reads-links{
  font-size: 15px;
  margin: 10px 2px;
  display: inline-block;
  padding: 6px 14px;
  background-color: #18bc9c;
  border: 1px solid transparent;
  border-radius: 15px;
}

.read-links{
  text-align: center;
}

/*evidence form */

#evidence-form h3{
  text-align: center;
}

h3#indicator-heading{
  color: #e74c3c;
}

#evidence-form .panel-primary{
  border-color: #ecf0f1;
}