@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import 'brand';

body, nav {
  min-width: 1200px;
}

.landing {
  background-image:url('low_contrast_linen.png');
}

.container-fluid {
  padding-top: 80px;
}


#reader{
  width: 100%;
  background-color: red;
  overflow: hidden;
}

.sidebar.fixed {
  position: fixed;
  background-color: $brand-color;
  top: 66px;
  width: 24%;
  float: left;
  bottom: 0;
  border-right: 1px solid #eee;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1010;
  min-width: 300px;
}

.content.right {
  margin-right: 0%;
  padding: 0rem;
  width: 74%;
  float: right;
  position: relative;
  top: 20px
}

dd a {
  display: block;
  padding: 1px 5px;
}

dt:hover {
  background-color: $brand-color-light;
}

dl {
  text-indent: 1em;
  background-color: $brand-color;
  dd {
    display: none;
    text-indent: 1.5em;
    cursor: pointer;
    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
      color: white;
    }
  }

  .caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ecf0f1;
    display: none;
    margin-top: 0.5em;
  }

  .open .caret { display: inline-block; }

}

dt {
  text-indent: 1em;
  padding: .5rem;
  cursor: pointer;
  background-color: $brand-color;
  color:#ecf0f1;
}


dd:hover {
  background-color: #8e44ad;
}

dd a:visited {
  color: blue;
}

.indicators a:link{
  text-decoration: none;
  color: white;
}

textarea#comments, #indicator_score_comments {
  width: 50rem;
  height: 15rem;
}

#submit-evidence {
  margin-top: 3rem;
}

#blast {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  padding: 35px 30px 10px;
  z-index: 1010;
  font-size: 30px;
  text-align: center;
}

/* dashboard */

.control-group.select.document {
  padding-left: 3em;
}

select.optional{
  height: 2.5em;
  width: 8em;
  font-size: 1em;
}

.document-live-form-holder .well {
  border: 1px solid black;
}

.document-live-form-holder h4 {
  padding: 0.5rem;  
}

#observation_read_comments {
  margin-bottom: 1em;
}

.observation_read_flags .controls{
  margin-left: 1em;
  margin-top: -0.75em;
}
.document h4 {
  background-color: #3498db;
  text-align: center;
}

.live h4 {
  background-color: #f1c40f;
  text-align: center;
}

.r1score {
  font-size: 0.85em;
  margin: 0 5px;
  font-weight: bold;
}

div.observation-read-button {
  margin-top: 4px;
  text-align: center;
}

p#submit-message{
  font-size: 20px;
  text-align: center;
  z-index: 1000;
  position: absolute;
}

p.alert-success{
  display: none;
  z-index: 1010;
  position: absolute;
  left: -32%;
  top: 27%;
}

.observation-reads h3 {
  text-align: center;
}

/* observation-reads buttons */

.observation-reads-links.selected{
  background-color: #5CA092;
}


a.observation-reads-links:hover {
  background-color:rgba(0,0,0,.5);
  text-decoration: none;
}

.observation-reads-links:visited{
  background-color: $brand-color-dark-highlight;
  // color: lightgray;
}

span a, a.observation-reads-links{
  color: white;
  list-style-type: none;
  text-decoration: none;
}

.observation-reads-links{
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 10px 2px;
  display: inline-block;
  padding: 6px 14px;
  background-color: $brand-color-dark;
  border: 1px solid transparent;
  border-radius: 15px;
}

.finalized .observation-reads-links{
  background-color: gray;
}


.read-links{
  text-align: center;
}

/*evidence form */

#evidence-form h3{
  text-align: center;
}

h3#indicator-heading{
  color: #e74c3c;
}

#evidence-form .panel-primary{
  border-color: #ecf0f1;
}

.highlight{
  background-color: #27ae60;
}

.highlight-current {
    background-color: #f39c12;
    font-weight: bold;
}

h5.read-title{
  text-align: center;
  background-color: #BBB;
  padding: 0.4em 0;
  font-size: 1.5em;
}

.flagged-true {
  background-color: #e74c3c;
}

#controller-observation-reads.action-show .row h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0;
}
a.summary-link,
a.summary-link:hover,
a.summary-link:active {
  color: #ecf0f1;
  text-decoration: none;
}
dt.summary {
  border-bottom: 1px solid gray;
}

.panel-info {
  border-color: $brand-color;
}
.panel-info > .panel-heading {
  background-color: $brand-color;
  border-color: $brand-color;
  color: #ffffff;
}

.checkmark { color: $brand-color; }

form.edit_observation_read .row {
  padding: 0 1em 0 2em; // this is weird hack :(
}
