#main.container {
  padding-top: 60px
}

.navbar-text {
  margin-bottom: 0;
  line-height: 30px;
  color: #777777;
}

.navbar .btn {
  margin-top: 12px
}

#reader{
  width: 100%;
  background-color: red;
  overflow: hidden;
}

.sidebar.fixed {
  position: fixed;
  background-color: #9b59b6;
  top: 71px;
  width: 24%;
  float: left;
  bottom: 0;
  border-right: 1px solid #eee;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
}

.content.right {
  margin-right: 0%;
  padding: 0rem;
  /*background: yellow;*/
  width: 74%;
  float: right;
  position: relative;
  top: 80px
}

.content h1{
  /* text-align: center; */
}

dt:hover {
  background-color: #8e44ad;
}


dl {
  text-indent: 1em;
  background-color: #9b59b6;
}

dt {
  text-indent: 1em;
  padding: .5rem;
  cursor: pointer;
  background-color: #9b59b6;
  color:#ecf0f1;
}


dl dd{
    display: none;
    text-indent: 1em;
    cursor: pointer;
    color: grey;
}

dd:hover {
  background-color: #8e44ad;
  color: white;
}

textarea#comments {
width: 50rem;
height: 15rem;
}

#submit-evidence {
  margin-top: 3rem;
}

#blast {
  display: none;
}



select {
  width: 108px;
/*  border: 0px white;
  background-color: #ffffff;*/
}

/*select, textarea, input[type="text"], input[type="password"] {
    background-color: white;
    border-radius: 4px;
    box-shadow: none;
    color: white;
    /*height: 22px;
    /*line-height: 22px;
}
*/

.observation_read_button {
  margin: 0 auto;
  float: right;
  width: 40px;
  background-color: green;
}


/*form#document-live-form {
  background-color: green;
  overflow: hidden;
  margin: auto 0;
}
*/

.document-live-form{
  border: 5px solid black;
}

.document h4 {
  background-color: darkseagreen;
  text-align: center;
}

.live h4 {
  background-color: darkorange;
  text-align: center;
}

form .document{
  /*background-color: ;*/
  /*float: left;*/
 /*   border: 5px solid black;*/

  display: inline-block;
  padding: 8px;
}

form .live {
  display: inline-block;
  padding: 8px;
}

.dashboard-holder{
  float: left;
  margin: 17px 58px;
/*  margin-top: 17px;
  margin-left: 58px;*/
  /*overflow: hidden;*/
}

.document-live-form-holder{
  float: right;
  overflow: hidden;
  margin-right: 73px;
  /*display: inline;*/
}

div.observation-read-button {
  text-align: center;
}

div.observation-reads{
  float: left;
}

div.main-forms{
  float: right;
}

p#submit-message{
  font-size: 20px;
  text-align: center;
}

p.alert-success{
  display: none;
}
