<div class="container-fluid">
  <h1> Edit your readers here </h1>


  <%= render partial: "flash_messages", flash: flash %>
  <%= render partial: "counts" %>
  <%= render partial: "reads_list" %>

</div>
